# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
cars1
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [5]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [6]:
owners_series = np.random.randint(15000, high=73001, size=398, dtype='l')
owners_series

array([23124, 45999, 46607, 64910, 42259, 59538, 70895, 47969, 28408,
       67068, 18374, 24199, 63945, 59979, 17847, 32620, 16142, 28142,
       72373, 42728, 67862, 58345, 16506, 65005, 68413, 54515, 61735,
       55008, 36605, 18254, 59385, 43789, 56026, 68302, 47213, 27175,
       27987, 59535, 28192, 19566, 17574, 71291, 38992, 67114, 54783,
       54084, 16956, 63697, 42145, 61113, 58836, 31614, 52292, 49880,
       25683, 49508, 52136, 31387, 48680, 27514, 31413, 63739, 49558,
       38764, 67463, 52883, 43142, 28046, 15448, 24558, 26337, 65892,
       42269, 32349, 32321, 15621, 27798, 30738, 53344, 15295, 59915,
       21332, 44988, 40395, 68730, 34988, 48968, 67266, 19922, 50696,
       59939, 62421, 36258, 62517, 30423, 57276, 32600, 62965, 38737,
       38986, 32766, 62477, 39996, 18842, 19023, 39905, 19596, 16303,
       68173, 33563, 27816, 18480, 35785, 55155, 27461, 45436, 58370,
       25059, 22847, 17964, 66562, 72299, 46197, 53823, 52420, 54668,
       31202, 45841, 40615, 32303, 38926, 71562, 65173, 48029, 42555,
       30444, 53805, 67960, 42021, 43970, 20375, 44510, 72757, 66559,
       24554, 59779, 33334, 25981, 52696, 33951, 54790, 72240, 34317,
       61457, 26960, 41725, 19383, 22349, 47970, 38475, 70381, 62753,
       25579, 18879, 26378, 17839, 53549, 34008, 72992, 15477, 40790,
       71027, 47630, 34779, 57898, 19183, 56185, 15831, 24592, 18196,
       42120, 41744, 53417, 42269, 70224, 54479, 36777, 15650, 28131,
       36615, 65201, 43620, 59280, 55280, 61498, 46466, 26205, 39685,
       63518, 68250, 60329, 52423, 15237, 33554, 43281, 52586, 63365,
       59451, 24417, 18550, 18934, 19060, 16048, 19894, 71705, 71795,
       19586, 72524, 50845, 60886, 49202, 70783, 46375, 43970, 50212,
       46171, 47546, 51412, 53012, 51461, 47511, 36429, 59263, 15263,
       71577, 68806, 68263, 60529, 18075, 21950, 57533, 31048, 54902,
       56422, 59783, 67745, 33149, 57671, 48548, 41579, 31245, 38240,
       58102, 69867, 38506, 18304, 18159, 57815, 47833, 25927, 21299,
       37057, 59694, 68170, 72978, 18523, 52184, 35767, 47366, 34560,
       44933, 42248, 59200, 52708, 23165, 26509, 65826, 47848, 38875,
       20584, 60239, 67374, 35605, 30884, 25741, 58073, 24774, 39606,
       72781, 21577, 29699, 70037, 49365, 66217, 68054, 63782, 64523,
       57640, 51710, 46705, 19779, 27086, 29408, 52649, 51797, 67489,
       33367, 56863, 61732, 51044, 61053, 26860, 57872, 65098, 69889,
       68976, 24869, 16026, 17555, 72140, 60468, 30860, 19779, 64236,
       72957, 54999, 70336, 55246, 36692, 38363, 26449, 60285, 32875,
       63924, 53125, 37689, 29145, 27456, 70604, 63158, 27623, 15200,
       60000, 34578, 35699, 66583, 52090, 48496, 36222, 42646, 43141,
       38221, 69589, 51254, 71421, 56589, 28035, 68934, 25708, 19389,
       36244, 67118, 70727, 32429, 55373, 71176, 35560, 28564, 54449,
       29127, 25568, 40725, 49422, 27899, 42969, 61052, 23198, 51002,
       69362, 47778, 66728, 72657, 61815, 33414, 69733, 65037, 41046,
       67548, 43836, 46747, 25518, 52805, 24401, 42077, 40962, 25470,
       35124, 68619])

### Step 8. Add the column owners to cars

In [7]:
cars['owners'] = owners_series
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,42077
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,40962
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,25470
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,35124
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,68619